.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 70%;
  padding: 20px 10px;
  border-radius: 25px;
  position: relative;
}

.pageNum {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
}

.return_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.return_button:hover {
  color: rgb(15, 207, 255);
  filter: drop-shadow(0 0 5px rgb(27, 172, 255));
}

.next_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.next_button:hover {
  color: rgb(15, 207, 255);
  filter: drop-shadow(0 0 5px rgb(27, 172, 255));
}

.form input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 1.2rem;
  backdrop-filter: blur(2px);
  width: 400px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.players {
  display: flex;
  height: 350px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.players input {
  width: 250px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 1.1rem;
}

.button:first-child:hover {
  background-color: rgb(63, 145, 63);
  outline: 1px solid rgba(63, 145, 63);
  border: 1px solid rgba(63, 145, 63);
  box-shadow: var(--box-shadow) rgba(63, 145, 63);
  color: white;
}

.button:nth-child(2):hover {
  background-color: rgb(122, 49, 49);
  outline: 1px solid rgb(122, 49, 49);
  border: 1px solid rgb(122, 49, 49);
  box-shadow: var(--box-shadow) rgb(122, 49, 49);
  color: white;
}

.input-enter {
  animation: fadeIn 0.5s ease-in-out;
}

.displayGameData {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
  gap: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.displayGameData h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5rem;
  filter: drop-shadow(0 0 5px rgb(27, 172, 255));
}

.displayGameData h2 {
  font-size: 2rem;
}

.gameDataName {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  animation: fadeIn 1s ease-in-out;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.gameDataButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.gameDataButton:first-of-type {
  right: 45px;
  width: 29px;
  height: 29px;
}

.gameDataName h2 {
  margin: 0 110px 0 10px;
  white-space: nowrap;
}

.gameDataPlayers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}

.gameDataPlayers li {
  margin-left: 15px;
  font-size: 1.1rem;
  flex-wrap: nowrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tooltip {
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.2s;
  opacity: 0.9;
}
