.button {
  background-color: var(--neon);
  color: white;
  border: var(--border) var(--neon);
  box-shadow: var(--box-shadow) var(--neon);
  backdrop-filter: var(--backdrop-filter);
  height: 50px;
  padding: 10px 10px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.button:hover {
  outline: 1px solid rgba(59, 255, 255, 0.473);
  background-color: rgba(59, 255, 255, 0.473);
}

.button:active {
  transform: scale(0.95);
}
