.header {
  background-color: var(--background-color);
  border-bottom: var(--border-bottom);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--backdrop-filter);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.title {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
